@import "variables";

:root {
  --primary: #{$primary};
  --color: #{$color};
  --background: #{$background};
  --background-secondary: #{$background-secondary};
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

//::selection {
//  background-color: #8e44ad;
//  color: white;
//}

*[data-ttl] {
  transition: .1s;
  cursor: pointer;
  &:hover {
    color: var(--primary);
  }
}

html, body {
  min-height: calc(100% + 1px);
}

body {
  background: var(--background);
  color: var(--color);
  font-size: 16px;
}

header {
  margin-bottom: 50px;
  text-align: center;
}

section {
  background: var(--background-secondary);
  border-left: 2px solid var(--background-secondary);
  padding: 20px;
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
  > .section--title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: capitalize;
    color: #d9e08a;
    letter-spacing: 1px;
    user-select: none;
    cursor: context-menu;
  }
}

#app {
  max-width: 900px;
  margin: 50px auto;
}
