@import "variables";

:root {
  --color: #{$color};
  --colorSecondary: #{$color};
  --background: #{$background};
  --backgroundSecondary: #{$backgroundSecondary};
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--backgroundSecondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorSecondary);
}

html, body {
  min-height: calc(100% + 1px);
}

body {
  background: var(--background);
  color: var(--color);
  font-size: 16px;
  margin: 0;
}

main {
  max-width: 1024px;
  margin: 120px auto 0;
  will-change: margin-top;
}
