@import "variables";

/* | ----------------------------------------------------------------
 * | - Header -
 * | ----------------------------------------------------------------
 */

#word {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: bold;
  color: #fff;
}

#translate {
  margin-top: 10px;
  font-size: 2.2rem;
  font-weight: bold;
  color: lighten($color, 10%);
  cursor: context-menu;
}

#transcription {
  position: relative;
  margin-left: 10px;
  font-size: 1.2rem;
  color: #333;
  vertical-align: text-top;
  padding: 2px 7px;
  user-select: none;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 80%;
    z-index: -1;
    border-radius: 5px 10px 5px 10px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  }
}

/* | ----------------------------------------------------------------
 * | - Definitions -
 * | ----------------------------------------------------------------
 */

.section-definitions {
  > .section--title {
    margin-bottom: 0;
  }
  .definition-name {
    font-weight: bold;
    color: #e4a5a5;
    font-size: 14px;
    user-select: none;
  }
  .definition-item {
    margin-bottom: 15px;
  }
  .definition-item-example {
    font-size: 14px;
    margin-top: 3px;
    color: darken($color, 15%);
    &:before {
      content: open-quote
    }
    &:after {
      content: close-quote;
    }
  }
}

/* | ----------------------------------------------------------------
 * | - Example -
 * | ----------------------------------------------------------------
 */

.section-examples {
  li {
    margin: 20px 0;
    line-height: 1.6;
  }
}
