@import "variables";

.main--home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
  text-align: center;
}

.main--home__content {
  max-width: 800px;
  padding: 30px;
  opacity: 0;
  transition: .3s;
  user-select: none;
  cursor: pointer;
}

.main--detail {
  transition: opacity .25s ease;
  padding: 20px;
}

#word {
  font-size: 6rem;
  will-change: font-size;
}

#translate {
  font-size: 2.5rem;
  margin-top: 20px;
  color: var(--colorSecondary);
  will-change: font-size;
}

#app.top {
  main {
    margin-top: 20px;
    transition: .25s ease;
  }
  #word {
    font-size: 3.5rem;
    transition: font-size .25s ease;
  }
  #translate {
    font-size: 1.5rem;
    margin-top: 10px;
    transition: .25s ease font-size, .25s ease margin-top;
  }
  .main--home__content {
    cursor: auto;
    user-select: auto;
  }
  .main--detail {
    display: block;
  }
}
